<header>
    <nav>
        <h3><%= title %></h3>
          <ul>
            <li><a href="/">Top Page</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
      </nav>

</header>